<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/folder"></ion-back-button>
      <ion-title>{{posts?.title}}</ion-title>
      <!-- post -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" padding>
  <section class="banner">
    <div style="background-image: url(../../assets/news.jpg);" class="banner_img"></div>
  </section>
  <ion-list  *ngIf="posts.length">
    <a *ngFor="let post of posts" [routerLink]="['/', 'singalnews',post.id]">
      <ion-item>
        <ion-avatar slot="start">
          <img src="{{ post.better_featured_image.source_url}}">
        </ion-avatar>
        <ion-label>
          <p style="font-size: 18px; margin: 15px 15px 2px 15px; color: black;" [innerHTML]="post.title.rendered"></p>
          <p  style="font-size: 18px; margin: 15px 15px 2px 15px; color: black;" [innerHTML]="post.excerpt.rendered"></p>
        </ion-label>
      </ion-item>
    </a>
  </ion-list>
</ion-content>

