ion-back-button{
    background-color: maroon;
}
ion-buttons{
    background-color: maroon;
}
a{
    text-decoration: none;
}
ion-content{
    ion-buttons{
        .ion-ripple-effect{
        background-color: black !important;
       }
    }
}