ion-back-button{
    background-color: yellow;
}
ion-buttons{
    background-color: yellow;
}
a{
    text-decoration: none;
}
// ion-content{
    ion-item{
        ion-buttons{
            .readmore{
                --background : black !important;
            }
        }
    }
// }