<ion-header [translucent]="true" class="tolbar">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/setting"></ion-back-button>
    </ion-buttons>
    <ion-title>Bookmarks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- <a *ngFor="let post of posts" (click)="navigat(post.id)"> -->
      <ion-item *ngFor="let post of posts  let i = index">
        <!-- [routerLink]="['/', 'singalnews',post.id]" -->
        <ion-avatar slot="start">
          <img src="{{ post._embedded['wp:featuredmedia']['0'].media_details.sizes.thumbnail.source_url }}">
        </ion-avatar>
        <ion-label>
          <h2 [innerHTML]="post.title.rendered"></h2>
          <h3>{{post.date_gmt | date}}</h3>
          <p [innerHTML]="post.excerpt.rendered"></p>
          <ion-button class="readmore" [routerLink]="['/', 'singalnews',post.id]">Readmore</ion-button>
          <ion-button class="remove" (click)="removeBookmark(post.id,i)">Remove</ion-button>
        </ion-label>
      </ion-item>
     
    <!-- </a> -->
   
  </ion-list>
</ion-content>