<ion-header>
  <ion-toolbar>
    <ion-button slot='start'>
      <ion-back-button defaultHref="/folder"></ion-back-button>
    </ion-button>
    <ion-title>Bookmark</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-content padding> -->
  <!-- <div *ngFor="let post of posts"> -->
  <!-- <img src="{{ post._embedded['wp:featuredmedia']['0'].media_details.sizes.thumbnail.source_url }}"> -->
  <!-- <img [src]="post.media_url"> -->
  <!-- <img src="{{ post._embedded['wp:featuredmedia']['0'].media_details.sizes.thumbnail.source_url }}"> -->
  <!-- <div class="singalpage_text" [innerHTML]="post.content.rendered"></div> -->

  <!-- <ion-button [routerLink]="['/', 'bookmark']" (click)="Bookmark()">Add To Bookmark</ion-button> -->
  <!-- </div> -->
  <!-- </ion-content> -->


  <!-- 
<ion-content [fullscreen]="true" padding>
  <section class="banner">
    <div style="background-image: url(../../assets/news.jpg);" class="banner_img"></div>
  </section>
  <ion-list>
    <ion-list-header>
      Recent Posts
    </ion-list-header> -->
  <ion-list>
    <ion-item *ngFor="let post of posts">
      <ion-avatar slot="start">
        <img src="{{ post._embedded['wp:featuredmedia']['0'].media_details.sizes.thumbnail.source_url }}">
      </ion-avatar>
      <ion-label>
        <h2 [innerHTML]="post.title.rendered"></h2>
        <h3>{{post.date_gmt | date}}</h3>
        <p [innerHTML]="post.excerpt.rendered"></p>
        <ion-router-link color="tertiary" [routerLink]="['/', 'singalnews',post.id]">Readmore</ion-router-link>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>