<ion-header [translucent]="true" class="tolbar">
  <ion-navbar>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button (click)="open_menu()"></ion-menu-button>
      </ion-buttons>
      <ion-title>Posts</ion-title>
      <ion-buttons slot="end">
        <button icon-only ion-button (click)="OpenSearchPage()" [routerLink]="['/', 'search']">
          <ion-icon name="Search"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <section class="banner">
    <div style="background-image: url(../../assets/news.jpg);" class="banner_img"></div>
  </section>
  <ion-list>
    <ion-list-header>
      Recent Posts
    </ion-list-header>

    <ion-item *ngFor="let post of posts">
      <ion-avatar slot="start">
        <img src="{{ post._embedded['wp:featuredmedia']['0'].media_details.sizes.thumbnail.source_url }}">
      </ion-avatar>
      <ion-label>
        <!-- <h6 [innerHTML]="post.id"></h6> -->
        <h2 [innerHTML]="post.title.rendered"></h2>
        <h3>{{post.date_gmt | date}}</h3>
        <p [innerHTML]="post.excerpt.rendered"></p>
        <ion-router-link color="tertiary" [routerLink]="['/', 'singalnews',post.id]">Readmore</ion-router-link>
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">Rjendrasinh Ratod</a></p>
  </div> -->
  <!-- <div text-center *ngIf="count">Found {{ count }} Posts</div> -->

  <!-- <ion-card *ngFor="let post of posts">
    <ion-card-header>
      <ion-card-title color="white" [innerHTML]="post.title.rendered"></ion-card-title>
      <ion-card-subtitle color="white">{{post.date_gmt | date}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img src="{{ post._embedded['wp:featuredmedia']['0'].media_details.sizes.thumbnail.source_url }}">
      <div [innerHTML]="post.excerpt.rendered"></div>
      <ion-button color="white" expand="full" fill="clear" [routerLink]="['/', 'singalnews',post.id]" text-right>Read
        More...
      </ion-button>
    </ion-card-content>
  </ion-card> -->

  <!-- <ion-infinite-scroll threshold="300px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingText="Loading More News....."></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

  <!-- <ion-content fullscreen> -->

</ion-content>