ion-content.background{
    --background: url(../../assets/hello1.png);
    background-repeat: no-repeat;
    
}   
ion-col{
    margin-top: 15%;
}
img{
    height: 50%;
    width: 40%;
}
ion-button {
    --background: #ebd507;
}