ion-content.background{
    --background: url(../../assets/hello3.png);
    // background-color: white;
    background-repeat: no-repeat;
    
}   
ion-col{
    margin-top: 55%;
}
img{
    height: 25%;
    width: 25%;
}
ion-button {
    margin-top: 20px !important;
    --background: #EC435A;
    color: white;
}
ion-item{
    --background: transparent !important;
    
}
ion-input{
        --background: transparent !important;
}
h1{
    font-weight: bold;
    border-bottom: 3px solid black;
    display: inline !important;
    padding-bottom:10px !important;
}
ion-item.item-has-focus > ion-label{
    color:  black  !important;
    --border-color: black !important;
}
ion-label{
    font-weight: 400px !important;
}
