ion-content.background{
    --background: url(../../assets/hello3.png);
    // height: 500px !important;
    // width:500px !important ;
    // --background-repeat: no-repeat !important;
    
}  
// ion-input{
//     background-color: white !important;;
// } 
form{
    ion-col{
        margin-top: 60%;
    }
}
img{
    height: 50%;
    width: 40%;
}
ion-button{
    --background: #EC435A;
    margin-top: 10px;
}
.regester ion-button{
    margin-top: 10px;
    --background : black;
}


ion-button{
    .google{
        background-color: grey !important;
    }
}

ion-item{
    --background: transparent !important;
    
}
ion-input{
        --background: transparent !important;
}
input:-internal-autofill-selected {
    display:  none !important;
}
h1{
    font-weight: bold   ;   
    border-bottom: 3px solid black;
    display: inline !important;
    padding-bottom:10px !important;
}
ion-item.item-has-focus > ion-label{
    color:  black  !important;
    --border-color: black !important;
}