ion-content.background{
    --background: url(../../assets/hello1.png);
    background-repeat: no-repeat;
    
}  
ion-input{
    background-color: white !important;;
} 
ion-col{
    margin-top: 20%;
}
img{
    height: 50%;
    width: 40%;
}
ion-button{
    --background: #ebd507;
    margin-top: 10px;
}
.regester ion-button{
    margin-top: 10px;
    --background : black;
}


ion-button{
    .google{
        background-color: grey !important;
    }
}
ion-item{
    border : 1px solid black !important;
    border-radius: 10px !important;
    margin-bottom: 10px;
}
ion-input{
    background-color:  transparent !important;
}
input:-internal-autofill-selected {
    display:  none !important;
}