ion-content{
    ion-router-link{
        margin: 10px 10px 10px 10px !important;
        color:  black !important;
        font-size: 20px !important;
    }
    ion-icon{
        margin: 0px 10px 10px 10px !important;
        color:  black !important;
        font-size: 25px !important;
    }
}