img{
    width: 100%;
    height: auto;
    padding: 5%;
  }

 .singalpage_text{
   padding: 15px;
 } 

 ion-content{
  button{
   background-color: red !important;
   margin: 20px;
   padding: 20px;
   outline: none;
   border-radius: 50%;
  
 }
}
  ion-content{
   ion-icon{
   background-color: yellow !important;
   font-size: 50px !important;
   margin: 10px !important;
   padding: 10px !important;
   border-radius: 50%;
   float: right !important;
 }
}
ion-buttons{
 button{
  outline: none;
  color: yellow;
  font-size: 23px;
  background-color: maroon;
 }
}