<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
      <ion-title>{{post?.title.rendered}}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div *ngIf="post">
    <!-- <img src="{{ post._embedded['wp:featuredmedia']['0'].media_details.sizes.thumbnail.source_url }}"> -->
    <!-- <img [src]="post.media_url"> -->
    <img src="{{ post._embedded['wp:featuredmedia']['0'].media_details.sizes.thumbnail.source_url }}">
    <div class="singalpage_text" [innerHTML]="post.content.rendered"></div>

    <ion-button  (click)="Bookmark()" [routerLink]="['/', 'bookmark']" >Add To Bookmark</ion-button>
    <!-- <ion-icon name="bookmark" (click)="Bookmark()" [routerLink]="['/', 'bookmark']"></ion-icon> -->



    
    <ion-button expand="full" (click)="shareWhatsapp()">ShareWhatsapp</ion-button>
    <ion-button expand="full" (click)="shareEmail()">ShareEmail</ion-button>
    <ion-button expand="full" (click)="shareFacebook()">ShareFacebook</ion-button>
    <ion-button expand="full" (click)="shareTwitter()">ShareTwitter</ion-button>

  </div>
</ion-content>
