<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
      <ion-title>{{post?.title.rendered}}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div *ngIf="post">
    <!-- <img src="{{ post._embedded['wp:featuredmedia']['0'].media_details.sizes.thumbnail.source_url }}"> -->
    <!-- <img [src]="post.media_url"> -->
    <img src="{{ post._embedded['wp:featuredmedia']['0'].media_details.sizes.thumbnail.source_url }}">
    <div class="singalpage_text" [innerHTML]="post.content.rendered"></div>

    <!-- <ion-button (click)="Bookmark()" >Add To Bookmark</ion-button> -->
    <div style="display: block !important;">
      <ion-icon (click)="Bookmark()" name="bookmark"></ion-icon>
    </div>
    <div>
      <ion-icon (click)="shareItem(post)" name="share"></ion-icon>
    </div>
    
    <!-- <ion-icon name="bookmark" (click)="Bookmark()" [routerLink]="['/', 'bookmark']"></ion-icon> -->
    <!-- <ion-button expand="full" (click)="shareWhatsapp()">ShareWhatsapp</ion-button>
    <ion-button expand="full" (click)="shareEmail()">ShareEmail</ion-button>
    <ion-button expand="full" (click)="shareFacebook()">ShareFacebook</ion-button>
    <ion-button expand="full" (click)="shareTwitter()">ShareTwitter</ion-button> -->

    <!-- <ion-button (click)="sShare(post)">SharePost</ion-button> -->
    <!-- <ion-button (click)="shareItem(post)">SharePost</ion-button> -->
      <!-- <a href=" BTS://app/singalnews/1/">click</a> -->
  </div>
</ion-content>

<!-- 
$servername = "localhost";
    $username = "id14451426_wp_16ee6ae904705bcf1c2c331dc79c3f52";
    $password = "a88e6951944c2c3527e3c1f4811b6f88046c7bde";
	$dbname = "id14451426_wp_16ee6ae904705bcf1c2c331dc79c3f52"; -->